<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <speculation_rules>
                <enable>1</enable>
                <mode>prefetch</mode>
                <eagerness>moderate</eagerness>
                <exclude_paths>customer
login
logout
auth
cart
checkout
search
download
redirect
rewrite
store
productalert</exclude_paths>
                <exclude_extensions>pdf,zip</exclude_extensions>
                <exclude_selectors>.do-not-prerender</exclude_selectors>
            </speculation_rules>
            <bfcache>
                <general>
                    <enable>1</enable>
                    <enable_user_interaction_reload_minicart>1</enable_user_interaction_reload_minicart>
                    <auto_close_menu_mobile>1</auto_close_menu_mobile>
                </general>
            </bfcache>
            <view_transitions>
                <enable>1</enable>
                <enable_admin>1</enable_admin>
                <enable_for_bfcache>1</enable_for_bfcache>
            </view_transitions>
        </system>
    </default>
</config>
